/* =========================================
   8. ESTILOS ESPECÍFICOS DEL CATÁLOGO
   ========================================= */

/* Contenedor de imagen en tarjeta de catálogo */

h1 {
    color: black;
}

h1 .font-headline {
    color: black;
}

h2 {
    text-align: center;
}

body p {
    color: black;
}

.catalog-img-container {
    height: 12rem;
    /* h-48 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    /* border-border */
}

.catalog-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    width: auto;
}

/* Efecto Zoom suave en la imagen al pasar el mouse sobre la tarjeta */
.rounded-lg:hover .catalog-img-container img {
    transform: scale(1.05);
}